@import url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@font-face {
  font-family: "myHandwriting";
  src: url("/media/MyHandwriting-Regular.woff") format("woff"),
    url("/media/MyHandwriting-Regular.ttf") format("truetype");
}

body {
  background-color: rgb(0, 0, 0);
  transition: background-color 1s linear;
  color: #fff;
  padding: 10%;
}

h2 {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}

#game {
  max-width: 800px;
  margin: auto;
  background: rgb(30, 29, 29, 50%);
  padding: 2%;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  font-size: 20px;
  margin-top: 10px;
  background: #111;
  color: #fff;
  border: 1px solid #444;
  border-radius: 5px;
  font-family: "Lexend", sans-serif;
}

#submit {
  padding: 10px;
  background: #444;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
}

#submit:hover {
  background: #666;
}

.locations {
  font-family: "Lexend", sans-serif;
  font-size: 25px;
}

#movementText {
  font-family: "Lexend", sans-serif;
  font-size: 25px;
}

#story {
  font-family: "myHandwriting";
  font-size: 35px;
}

#quip {
  font-family: "myHandwriting";
  font-size: 35px;
}

.altstory_text {
  font-family: "Lexend", sans-serif;
  text-align: center;
}

.help_links {
  font-family: "Lexend", sans-serif;
  text-align: center;
  font-size: 25px;
}
